@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');


:root {    
    /*--=================== COLOR ===================--*/
    --accent-color: #fba100;
    --accent-color-alt: #479acc;
    --body-color: #f0eeed;
    --container-color: #202023;
    --text-color: #202023;
    --button-color: #308fdc;

    /*--=================== FONT ===================--*/
    --h1-font-size: 2rem;
    --h2-font-size: 1rem;
    --text-font-size: .8rem;
    --basic-font: 'Montserrat', sans-serif;
    --italic-font: 'Playfair', serif;
}


/*--=================== BASE ===================--*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    background-color: var(--body-color);
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, p, a{
    color: var(--text-color);
}

h1, h2{
    font-weight: 600;
}

p{
    font-size: .8rem;
    letter-spacing: 1px;
}
/*--============================================================--*/




/*--=================== REUSABLE CSS CLASSES ===================--*/
.section{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 1.3rem;
}

.section_title{
    color: var(--accent-color);
    margin-bottom: 1.1rem;
    font-size: 1.7rem;
}

.section_title_blauw{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}
/*--============================================================--*/




/*--=================== HEADER ===================--*/
header{
    background-color: #fff;
    height: 5rem;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s;
    z-index: 100;
    box-shadow: 0px 0px 20px #00000026;
}

.header_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1150px;
}

.logo_box{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.logo_icon{
    background-color: #fba100;
    border-radius: 50% 50% 50% 5%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .4rem;
    transition: background-color .3s;
}

.logo_icon span{
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    margin-right: .1rem;
    transition: color .3s;
}

.logo_box h1{
    font-weight: 800;
    color: var(--accent-color);
    font-size: 1.5rem;
    transition: color .3s;
}

.logo_box h1 span{
    font-weight: 300;
    color: var(--accent-color);
    margin-top: -1rem;
    transition: color .3s;
}

.menu{
    margin-right: 1rem;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100vh;
    left: 0;
    transition: top .0s;
    z-index: -10;
    transition-delay: .4s;
}

.nav_list{
    background-color: #fba100;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    transition: opacity .4s;
}

.nav_list li{
    transition: transform .5s;
}

.nav_list a{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.active{
    text-decoration: underline 3px;
    text-underline-offset: 5px;
}



/*--=================== MENU BURGER BUTTON ===================--*/
.menu_button{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 2rem;
    -webkit-tap-highlight-color: transparent;
}

.menu_button span{
    background-color: var(--accent-color);
    width: 1.7rem;
    height: 3px;
    display: block;
    transition: .2s;
    position: absolute;
}

.menu_button .line-1{
    transform: translate(0, -8px);
}

.menu_button .line-2{
    height: 3px;
}

.menu_button .line-3{
    transform: translate(0, 8px);
}




/*--=================== OPEN MENU ===================--*/
@media screen and (max-width: 1022px) {
    .menu_button_open span{
        background-color: #fff;
    }
    
    .menu_button_open .line-1{
        transform: translate(0, 0) rotate(135deg);
    }
    
    .menu_button_open .line-2{
        width: 0;
    }
    
    .menu_button_open .line-3{
        transform: translate(0, 0) rotate(-135deg);
    }
    
    .header_open{
        background-color: var(--accent-color);
    }
    
    .open_menu{
        top: 0;
        transition-delay: .0s;
    }
    
    .open_nav_list{
        opacity: 1;
        transition: opacity .7s;
    }
    
    .open_nav_list li{
        transform: translateY(-5rem);
    }
    
    .logo_open h1{
        color: #fff;
    }
    
    .logo_open h1 span{
        color: #fff;
    }
    
    .logo_icon_open{
        background-color: #fff;
    }
    
    .logo_icon_open span{
        color: var(--accent-color);
    }
}
/*--======================== END OF HEADER ========================--*/




/*--======================== FRONT PAGE ========================--*/
.front_page{
    padding: 0;
    background-image: url(background_img_2.jpg);
    background-position: center;
    background-size: cover;
    justify-content: end;
}

.dark{
    padding: 8rem 1rem 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
}

.front_page_content{
    width: 100%;
    max-width: 1115px;
}

.dark h1, h2{
    justify-self: end;
    width: 100%;
    color: #fff;
    z-index: 10;
}

.dark h1{
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4.5rem;
}

.dark h2{
    font-weight: 300;
}

.dark p{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.front_page_btn_container{
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.front_page_btn{
    font-weight: 600;
    padding: .4rem 1.1rem;
    color: var(--accent-color);
    background-color: #fff;
    border-radius: 500px;
}
/*--============================================================--*/



/*--======================== DIENSTEN ========================--*/
.diensten_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;
}

.dienst_box{
    background-color: #fff;
    padding: 1rem 1rem 1.4rem 1rem;
    max-width: 450px;
}

.dienst_box h2{
    color: var(--container-color);
    font-size: 1.2rem;
}

.dienst_box p{
    margin-bottom: 2rem;
}

.btn_diensten{
    color: #fff;
    font-weight: 600;
    padding: .4rem 1.1rem;
    background-color: var(--button-color);
    border-radius: 500px;
}
/*--============================================================--*/




/*--======================== IDEAAL VOOR ========================--*/
.ideaal_voor{
    background-color: var(--accent-color-alt);
    text-align: center;
}

.ideaal_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;
}

.ideaal_box{
    color: #fff;
    max-width: 420px;
}

.ideaal_box h2{
    color: #fff;
    font-size: 1.2rem;
}

.ideaal_box p{
    color: #fff;
    margin-bottom: 2rem;
}

.icon_mobiel{
    transform: scale(.9) translateY(-.8rem);
}
/*--=============================================================--*/




/*--=================== MEDIA QUERIES ===================--*/
@media screen and (min-width: 1023px) {
    /*--======================== HEADER ========================--*/
    header{
        height: 7rem;
    }

    .logo_icon{
        width: 3.5rem;
        height: 3.5rem;
    }
    
    .logo_icon span{
        font-size: 2rem;
    }
    
    .logo_box h1{
        font-size: 2rem;
    }

    .menu_button{
        display: none;
    }

    .menu{
        position: relative;
        width: fit-content;
        height: fit-content;
        top: 0;
        z-index: 1;
    }
    
    .nav_list{
        background-color: transparent;
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        opacity: 1;
    }
    
    .nav_list a{
        color: var(--accent-color);
        font-size: 1rem;
        font-weight: 600;
    }

    .dark{
        padding: 12rem 1rem 6rem;
    }

    .front_page{
        box-shadow: 0px 0px 30px #0000008c;
    }

    /*--======================== DIENSTEN ========================--*/
    .ideaal_box{
        max-width: 360px;
        padding: 1rem;
    }

    /*--======================== IDEAAL VOOR ========================--*/
    .dienst_box{
        max-width: 360px;
    }
}
